.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.filter-dropdown-open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;

    overflow: hidden;

    border-radius: 1em;
    border: 0.2em solid var(--padborder-color);
    box-shadow: 0.2em 0.2em var(--padborder-color);
    background-color: var(--bg-color);

    /* padding: 0.5em; */

}

.filter-dropdown-open p {
    user-select: none;
    text-align: left;
    margin: 0;
    padding: 0.5em;
}

.filter-dropdown-open p:hover {
    background: var(--gray);
}

.filter-dropdown-open p.selected {
    background: var(--purple);
}

.filter-dropdown {
    display: none;
}

.controls {
    position: relative;
    display: flex;
    justify-content: left;
}

.filter-button {
    border-radius: 1em;
    border: 0.2em solid var(--padborder-color);
    /* box-shadow: 0.2em 0.2em var(--padborder-color); */
    font-weight: bold;
    margin: 0.5em;
    padding: 0.5em;
}

.controls svg {
    color: var(--icon-color);
    height: 1em;
    width: 1em;
    vertical-align: middle;
    padding: 0.2em;
}

.project-card-h2 {
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.desc {
    text-align: left;
    margin-top: 0;
}

input {
    flex: 1;
    width: max(200px, 40%);
    height: 2em;
    border-radius: 0.75em;
    border: 0.2em solid var(--padborder-color);
    padding: 0 1rem 0 1rem;
    margin: 0.5rem;
    /* box-shadow: 0.3em 0.3em var(--padborder-color); */
}

.pillbox {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
}

.pillbox p {
    font-size: 0.75em;
    border-radius: 1.5em;
    padding: 0.25em 0.5em;
    border: 0.2em solid var(--padborder-color);
    background: var(--bg-color);
}
