.grid2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.grid3 {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.service-grid {
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: 4fr 1fr;
    margin: 0.5em;
}

.service-grid p {
    margin: 0.25em;
    text-align: left;
}

.service-grid svg {
    height: 1em;
    align-self: center;
}

.service{
    filter: drop-shadow(0 0 2em #ff0000);
}

.service:hover {
    filter: drop-shadow(0 0 2em #ffffff);
}

@media (max-width: 700px) {
    .grid3, .grid2 {
        grid-template-columns: 1fr;
    }
}
