
.card-box {
    display: flex;
    flex-grow: 0;
    /* flex-direction: row; */
    border-radius: 1em;
    transition: 0.3s;
    /* max-width: 80%; */
    /* justify-content: center; */
    border: 0.2em solid rgb(255, 255, 255);
    box-shadow: 0.3em 0.3em rgb(255, 255, 255);
    padding: 0 1rem 0 1rem;
    margin: 1.5rem;
}
